# Variables VITE_* son públicas en el cliente web. No colocar secretos aquí.
# URL base del backend Spring Boot
VITE_API_URL=http://localhost:8080/api/v1

# ID de Cliente de Google Identity Services (OAuth 2.0 Web Client ID)
VITE_GOOGLE_CLIENT_ID=1057211665863-ltc8etssds12rvru95v9nn61ene5rqeb.apps.googleusercontent.com
